<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>This is the Homepage</h1>
    <button><a href="/login">Login</a></button>
    <button><a href="/register">Register</a></button>
</body>
</html>