<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>
<body>
    Welcome to secret page, <%= user.username %>
    
    <div><button><a href="/">Logout</a></button> </div>
</body>
</html>